verde = #3A7800
plomo = #F5F5F5
body
	font-family 'Open Sans', Sans-Serif
	width 1024px
	padding 0px
	margin-left auto
	margin-right auto
	background white
	
header
	//background #fa0
	height 150px
	padding-top 40px
	color verde
	
	figure
		display inline-block
		//margin-left 150px
		img
			width 240px
	nav
		display inline-block
		margin-left 15px
		ul
			font-size 16px
			list-style none
			li
				display inline-block
				padding 1em
			li:hover
				background verde
				border-radius 0.3em
				color white
				transition 0.3s
				cursor pointer
				a 
					color white
				
	a
		color verde
		text-decoration none
	a:hover
		text-decoration none
		color white
footer
	padding-top 30px
	text-align center
	padding-right 20px
	font-size 12px
	
	
#container 
	//background white
	width 100%
#derechos
	color #ddd	

#formularioContacto
	width 400px

#modalAsesorias
	display none
#modalReportes
	display none
#modalTributaria
	display none
#modalAuditorias
	display none
#modalInventarios
	display none
#modalConsultoria
	display none

#indexTextoSlider
	border-bottom 1px solid verde
	text-align justify
	padding 0 20px 0 20px
#indexServicios
	padding 20px 0 0 0
	#tituloIndexServicios
		font-size 20px
		color verde
	.agrupacionIndexServicios
		text-align center
		margin 20px
	.itemIndexServicios
		opacity 0.85
		border 1px solid verde
		border-radius 0 1em 0 1em
		margin-left 20px
		width 250px
		height 200px
		color gray
		display inline-block
		vertical-align bottom
		p 
			color verde
		img 
			padding 10px
			width 150px
			height 150px
	.itemIndexServicios:hover
		
		opacity 1
		cursor pointer
		transition 0.3s
		p 
			transition 0.6s
			background verde
			color white
.integrantesEquipo
	
	
	padding-top 20px
	margin-top 20px
	

#slider
	text-align center
	
	img
		// border-radius 1em
		width 1024px
#sobreNosotros
	text-align justify
	padding 0 100px 0 100px
	div
		display inline-block
		vertical-align top
		margin-left 20px
	img 
		border-radius 2em
#textoInicio
	margin-top 30px
	background #fa0
	width 1024px
	p 
		text-align justify
.divContactos
	display inline-block
	vertical-align top
	margin-left 20px
.modalContainer
	text-align justify
	p 
		padding-top 5px
		padding-left 20px
		padding-right 20px
.prop
	margin-left -100px
	width 900px
.modalTitulo
	margin-top 30px
	font-size 20px
	color verde	
.modal-footer
	
	button
		background verde
	button:hover
		background white
		color verde